[submodule "submodules/linkml-runtime"]
	path = submodules/linkml-runtime
	url = git@github.com:linkml/linkml-runtime.git
[submodule "submodules/linkml"]
	path = submodules/linkml
	url = git@github.com:linkml/linkml.git
